@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset nhẹ và font mặc định */
:root {
	--bg: #0b1020;
	--fg: #e5e7eb;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	background-color: var(--bg);
	color: var(--fg);
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

